<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
    <link rel="stylesheet" href="/css/app.css">
	</head>
	<body>
		<header>
			<h1>Tales of Travel</h1>
			<nav>
				<ul>
					<li>
						<a href="/articles">Articles</a>
					</li>
          <li>
            <button><a href="/sessions/login">Login</a></button>
          </li>
          <li>
            <a href="/sessions/register">Register</a>
          </li>
				</ul>
			</nav>
		</header>
	</body>
</html>
